#about {
    display: flex;
    padding: 4px;
}
body {
    background-color: rgba(4, 226, 255, 0.452);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col {
    border: 1px solid rgba(4, 226, 255, 0.452)
    
}
a {
    color: rgb(0, 0, 0);
    
}
.left {
    flex: 4;
}
.right {
    flex: 6;
}
header, main{
    background: rgba(4, 226, 255, 0.995);
    border-bottom: 2px solid rgb(0, 225, 255);
    margin: 5%;
    
}
